<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="_csrf" th:content="${_csrf !=null} ? ${_csrf.token} : ''"/>
  <meta name="_csrf_header" th:content="${_csrf !=null} ? ${_csrf.headerName} : ''"/>
  <title>智能质控子系统</title>
  <link rel="stylesheet" th:href="@{/plugin/layui/css/layui.css}"  media="all">
  <link rel="stylesheet" th:href="@{/plugin/zTree_v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">

  <style>
    body{margin: 10px;}
  </style>
</head>
<body>
<input type="hidden" id="basepath" th:value="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} "/>

<div class="demoTable">
  <input type="hidden" id="orgId" name="orgId" th:value="${sysUser.orgId}"/>
  <div class="layui-form-item layui-form">
    敏感词:
    <div class="layui-inline">
      <input class="layui-input" name="wordStr" id="wordStr" autocomplete="off">
    </div>

    是否共享:
    <div class="layui-inline">
      <select name ="isShareStr" id="isShareStr" lay-filter="citySelect" class="layui-select">
        <option value="">请选择</option>
        <option value="1">是</option>
        <option value="0">否</option>
      </select>
    </div>

    所属机构:
    <div class="layui-inline">
      <input id="orgIdVal"  name="orgIdVal" type="hidden" th:value="${sysUser.orgId}"/>
      <input class="layui-input" autocomplete="off" name="orgName" id="orgName" lay-filter="nameClick">
    </div>

    <button class="layui-btn" data-type="reload" id="findBy">搜索</button>
    <button class="layui-btn"  id="chongzhi">重置</button>
<!--    <button class="layui-btn" data-type="downExcel" id="downBy">导出</button>-->
  </div>
</div>

<table class="layui-hide" id="psminfolist" lay-filter="test"></table>
<iframe id="success" src="" style="display:none;"></iframe>
<iframe id="erro" src="" style="display:none;"></iframe>
<script type="text/html" id="info_toolbar">
  <div class="layui-btn-container">
    <div class="layui-inline" title="新增" lay-event="add" style="width: 6%;"><i class="layui-icon layui-icon-add-1">新增</i></div>
    <div class="layui-inline" title="删除" lay-event="delete" style="width: 9%;"><i class="layui-icon layui-icon-delete">批量删除</i></div>
    <div class="layui-inline" title="模板下载" lay-event="down" id="downExcel" style="width: 9%;"><i class="layui-icon layui-icon-download-circle">模板下载</i></div>
    <input type="hidden" id="uploadExcel" />
    <div class="layui-inline" title="导入" lay-event="upload" id="uploadExcelshow" style="width: 7%;"><i class="layui-icon layui-icon-upload-drag">导入</i></div>
    <div class="layui-inline" title="导出" lay-event="exportExcel" id="exportExcel" style="width: 7%;"><i class="layui-icon layui-icon-upload-drag">导出</i></div>
  </div>
</script>
<script type="text/html" id="barPsmInfolist">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

</script>


<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/common/common.js}"></script>
<script type="text/javascript" th:src="@{/plugin/layui/layui.js}"></script>
<!-- 引入ztree插件 -->
<script type="text/javascript" th:src="@{/plugin/zTree_v3/js/jquery.ztree.all.js}"></script>
<!-- 引入ztree插件扩展功能 -->
<script type="text/javascript" th:src="@{/plugin/zTree_v3/js/jquery.ztree.exhide.js}"></script>

<script type="text/javascript" th:src="@{/js/page/sensitiveList.js}"></script>
<div id="upload_choice" class="das-layer-import" style="display: none;text-align: center;margin-top: 20px;">
  <button type="button" class="layui-btn layui-btn-radius import" lay-data="{data:{'importFlag':0}}">批量新增</button>
<!--  <button type="button" class="layui-btn layui-btn-radius layui-btn-normal import" lay-data="{data:{'importFlag':1}}">批量更新</button>-->
</div>
</body>
</html>
